.theme-dark {
  --accent: #47cdff;

  --text-default: #e3e3e3;
  --text-light: rgba(227, 227, 227, 0.4);
  --text-inverse: white;
  --text-error: #e3342f;

  --bg-default: #22292f;
  --bg-page: #353d3f;
}
