:root,
.theme-light {
  --accent: #47cdff;

  --text-default: #22292f;
  --text-light: rgba(0, 0, 0, 0.4);
  --text-inverse: white;
  --text-error: #e3342f;

  --bg-default: white;
  --bg-page: #f5f6f9;
}
